<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exa">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="com.example.android.contentprovidersample.provider.READ_WRITE"/>

    <uses-permission android:name="MyContentProvider.READ_WRITE"></uses-permission>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:taskAffinity="Main.task"></activity>

        <service
            android:name=".messenger.RemoteService"
            android:process=":remote" />
        >

        <service
            android:name=".binder.IPCServer"
            android:process=":ipc" />
        >

        <activity android:name=".binder.BinderActivity"></activity>

        <!--
        standard:
            每启动一个Activity就会在栈顶创建一个新的实例
        singleTop:

        singTask:

        singleInstance:
        -->
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mode.StandardActivity"
            android:launchMode="standard"
            android:taskAffinity="standard.task"></activity>
        >
        <activity
            android:name=".mode.SignleTopActivity"
            android:launchMode="singleTop"
            android:taskAffinity="signletop.task"></activity>
        <activity
            android:name=".mode.SingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity="signletask.task"></activity>
        <activity
            android:name=".mode.SingleInstanceActivity"
            android:launchMode="singleInstance"></activity>
        <activity android:name=".mode.OtherActivity"></activity>
        <activity android:name=".cusview.MyViewActivity"></activity>
        
        <provider
            android:authorities="com.exa.MyContentProvider"
            android:name=".contProd.MyContentProvider"
            android:permission="MyContentProvider.READ_WRITE">
        </provider>

        <!--  预注册Activity，利用假的Activity来“运行”真的TargetActivity。 -->
        <activity android:name=".plugin.ProxyActivity"></activity>
    </application>

</manifest>